<header>
       <div class="bc-header-wrapper">
	   		<div class="bc-header-left pull-left">
	   			<div class="bc-logo-wrapper">
	   				<a href="index.html"><img class="bc-logo" src="../images/logo.png" alt=""></a> 
	   			</div>
	   		</div>
       </div> 
</header>