<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:domain" content="">

    <!-- Favicons -->
    <!--[if IE]><link rel="shortcut icon" href="../images/fav.png"><![endif]-->
    <link rel="shortcut icon" href="../images/fav.png">
    <link rel="apple-touch-icon" href="../images/fav.png" sizes="120x120">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/main.css">

    <!-- aos-js -->
    <script type="text/javascript" src="js/libs/aos.min.js"></script>

     <script>
     
    </script>
  </head>
