<header>
       <div class="bc-header-wrapper">
       		<div class="hidden-md hidden-lg">
		   		<div id="menutrigger" class="bc-burger-menu-wrapper">
		   			<button>
						<i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
					</button>
		   		</div>
	   		</div>
	   		<div class="bc-header-left pull-left">
	   			<div class="bc-logo-wrapper">
	   				<a href="index.html"><img class="bc-logo" src="../images/logo.png" alt=""></a> 
	   			</div>
	   		</div>
	   		<div class="bc-header-right pull-right font-small">
	   			<ul class="bc-inline">
	   				<li><a class="{{#if dashboard}} bc-hidden {{/if}}" href="#">Regiter / </a></li>
	   				<li><a class="{{#if dashboard}} bc-hidden {{/if}}" href="new-requirement.html">Sign In</a></li>
	   				<li><a class="{{#if dashboard}} bc-show {{else}} bc-hidden {{/if}}" href="scanaddress.html">Log out</a></li>
	   			</ul>
	   		</div>
       </div> 
</header>