<div class="bc-info">
    <div class="bc-top bc-scan">
			Address: n48f74bsdprjf9bdg907xw0mgsytct56cwbu6
    </div>
    <div class="bc-bottom bc-scan">
                    Status: <span class="bc-heighlight {{#if good}} bc-green {{/if}} {{#if certified}} bc-blue {{/if}} {{#if banned}} bc-red {{/if}} {{#if suspected}} bc-orange {{/if}}">{{#if good}} good {{/if}} {{#if certified}} Certified {{/if}} {{#if banned}} banned {{/if}}
			{{#if suspected}} Suspected {{/if}}</span>
    </div>
    <div class="bc-hidden {{#if certified}} bc-show {{/if}}">
	    <div class="bc-bottom bc-scan">
	    	Certification Link: cert-gti.org/common_up/cert-new/document_.pdf 
	    </div>
	     <div class="bc-bottom bc-scan">
	    	Valid until <span class="bc-highlight"> 23 December 2017 </span>
	    </div>
    </div>

    <div class="bc-hidden {{#if suspected}} bc-show {{/if}}">
	     <div class="bc-bottom bc-scan font-small">
	    	A red alert has been issued on the address above. Please be warned. If you feel this is a mistake, you may choose to create a request to reappeal to remove the selected address from the sustepcted lust.
	    </div>
	    <div class="bc-spacer-t-48 bc-center">
	    	<a class="bc-btn bc-btn-primary">Appeal Decision</a>
	    	<div class="bc-spacer-t-40">Create a request to remove the selected address from suspected list.</div>
	    </div>	
	    
    </div>

    <div class="bc-hidden {{#if banned}} bc-show {{/if}}">
	     <div class="bc-bottom bc-scan">
	    	A red alert has been issued on the address above. The address above had been banned by BNM after thorough investigation. Please be warned on the 
	    </div>
    </div>
</div>