<div class="bc-sidebar-wrapper">
        <div id="sidebar" class="bc-sidebar-nav bc-spacer-t-50">
          <nav>
            <ul>
              <li><a href="">New Request</a></li>
              <li><a href="">Blacklist</a></li>
              <li><a href="">Suspected Address</a></li>
              <li><a href="">Whitelist</a></li>
            </ul>
          </nav>
        </div>
      </div>