{{> head title='Overwatch - Blockchain Address Validation'}}
  <body>
  	 {{> header}}
    <main>
      {{> side-bar}}
    	<div id="" class="bc-main-container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="bc-content">
                <div class="bc-h6">
                  Suspected Address
                </div>
                <a id="check" class="bc-btn bc-btn-default">Add</a>
                <span><input type="text" class="search"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
      {{> commonjs}}
      {{> footer}}
  </body>
</html>
