{{> head title='Overwatch - Blockchain Address Validation'}}
  <body>
     {{> header}}
    <main>
      <style>
	    code: { white-space: pre; display: block; }
	  </style>
      <div class="bc-container-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
             <h2>HTTP REST API<h2>
			 <p>
			 	<h3>Check</h3>
			 	<code>GET /api/{network}/check/{address}</code>
			 	<p>
			 		This checks the status of a blockchain address.
			 	</p>
			 	Parameters:
			 	<dl>
			 		<dt>network</dt><dd>The blockchain network. Currently only "ethereum" is supported.</dd>
			 		<dt>address</dt><dd>The blockchain address to check.</dd>
			 	</dl>
			 	Response:
			 	<code>
{
	good:      boolean,           // true if address is good
	bad:       boolean,           // true if address is in blacklist or suspect list
	blocked:   boolean,           // true if address is in blacklist
	suspect:   boolean,           // true if address is in suspect list
	whitelist: true or undefined  // true if address is in whitelist
}
			 	</code>
			 </p>
            </div>
          </div>
        </div>
      </div>
    </main>
      {{> commonjs}}
      {{> footer}}
  </body>
</html>
