{{> head title='Whitelist Address'}}
<body>
   {{> header}}
   <main>
      {{> side-bar whitelist= true}}
      <div id="" class="bc-main-container">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="bc-content">
                     <div class="bc-h6">
                        Certified Address
                     </div>
                     <a id="check" class="bc-btn bc-btn-default">Add</a>
                     <span class="bc-icon-search bc-relative"><input type="text" class="search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></span>

                     <div class="bs-example bc-spacer-t-40 bc-table" data-example-id="hoverable-table">
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                 <th>No</th>
                                 <th>Address / ENS</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <th scope="row">001</th>
                                 <td>121376kpooihtfjvmlsposicmcuwq9 
                                  
                                  <a href="#" class="bc-right pull-right bc-icon">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                  </a>
                                  <a href="#" class="bc-right pull-right bc-icon">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                                 </td>
                              </tr>
                              <tr>
                                 <th scope="row">002</th>
                                 <td>8786dgs,mcpwqtevbfclvmfv7abdlso
                                  <a href="#" class="bc-right pull-right bc-icon">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                  </a>
                                  <a href="#" class="bc-right pull-right bc-icon">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                                 </td>
                              </tr>
                              <tr>
                                 <th scope="row">003</th>
                                 <td>165802ocmcvrkovclojcuhyskjs6kjf
                                  <a href="#" class="bc-right pull-right bc-icon">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                  </a>
                                  <a href="#" class="bc-right pull-right bc-icon">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                                 </td>
                              </tr>
                               <tr>
                                 <th scope="row">004</th>
                                 <td>009kjdkmm kiys68w2jd8mchdkiududkd9
                                  <a href="#" class="bc-right pull-right bc-icon">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                  </a>
                                  <a href="#" class="bc-right pull-right bc-icon">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <div class="bc-center">
                          <a href=""><span class="font-small">Load More..</span></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   {{> commonjs}}
   {{> footer}}
</body>
</html>